@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
    margin: 0 20px;
}

button.slick-arrow.slick-next::before {
    color: #7AB730;
    font-size: 30px;
}

button.slick-arrow.slick-prev::before {
    color: #7AB730;
    font-size: 30px;
}

ul.slick-dots {
    margin: 10px 0;
}